<footer>
    <%= new Date(); %>
</footer>
<script src="/js/maps.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCabAD2GaTVZKG5ELMOwNXsAgvqjn23SCM&callback=initMap">
</script>
</body>
</html>