
<% include ../partials/head %>

<div class="container">
        <h1>Bot MapBox</h1>
        <div class="row">
          <div class="col-8" class="map" id="mapBox">
            This is where we put out maps
          </div>
          <div class="col-4" id="chatBox">
            This is where we put our chatbox
          </div>
        </div>
      </div>     

<% include ../partials/footer %>